.header {
    @include flex-sb-c;
    justify-content: center;
    padding-bottom: 50px;
}

.navigation {
    @include flex-sb-c;
    padding: 0 16.5%;
}

.navigation > * {
    margin-right: 32px;
    font-family: 'Bona Nova';
    font-size: 14px;
    color: white;
}

.navigation a:last-child {
    margin-right: 0;
}


.text-button {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: white;
}
