.sessions-boxes {
    @include flex-sa-c;
    justify-content: center;
    // margin: 20px 20px;
    column-gap: 20px;
}

.active-box {
    height: 520px;
    display: flex;
    align-items: flex-end;
}

.inactive-boxes {
    @include flex-sa-c;
    flex-direction: column;
    gap: 20px 20px;
}

.inactive-boxes1 {
    @include flex-sa-c;
    // flex-direction: column;
    // height: 250px;
    // margin-bottom: 20px;
    column-gap: 20px;
}

.inactive-box1 {
    display: flex;
    align-items: flex-end;
}

.inactive-boxes2 {
    @include flex-sa-c;
    // flex-direction: column;
    column-gap: 20px;
}
